<div class="stock-page" id="sect1">
    <div class="header-block">
          <h2>  {{ 'Marvel Characters' }} </h2>  
    </div> 

    <div class="content-block">
        <div class="content-list">
                <div *ngFor="let char of characterList | paginate: { itemsPerPage: 3, currentPage: p}">
                    <mat-card  class="example-card" [routerLink] = "char.id">
                        <mat-card-header>
                          <mat-card-title> {{ char.name }} </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image height="500px" [src]="char.imagePath" alt="{{ 'Photo of'  +  char  }}">
                        <mat-card-content >
                          <p [matTooltip]="char.desc" matTooltipPosition="above">
                            {{ getShortChars(char.desc) }}
                          </p>
                        </mat-card-content>
                      </mat-card>
                </div>  
        </div>
    </div>
    <div class="center-align">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>