.header-block{
    text-align: center;
}

.selection-block{
    justify-content: center;
    display: flex;
}

.stock-selection{
    margin-left: 20px;
}

.green-bgcolor{
    background-color: #a7f8a7;
}

.red-bgcolor{
    background-color: #ffadad;
}
.content-block{
    width: 80%;
    margin-left: 12%;
    margin-top: 5%;
}

mat-header-cell, mat-cell {
    justify-content: center;
    // flex: 0 0 200px;
    // border-bottom-width: 1px;
    // border-bottom-style: solid;
    // border-bottom-color: lightgrey;
}